#controller {
  padding: 20px;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.btn {
  font-size: 0.8rem;
  cursor: pointer;
  display: inline-block;
  width: 140px;
  height: 30px;
}

select {
  background-color: white;
}

.project {
  margin: 20px 0;
}

.header {
  padding: 12px;
  box-sizing: border-box;
  background-color: rgb(248, 248, 248);
  border-radius: 2px;

  h1 {
    font-size: 1rem;
    // font-weight: normal;
    width: 283px;
    display: inline-block;
  }

  .toggle-params {
    width: 140px;
    display: inline-block;
  }

  .params {
    margin-top: 12px;

    &.hidden {
      display: none;
    }

    h2 {
      font-size: 1rem;
      padding: 0 0 6px 0;
      margin: 12px 0 6px;
      border-bottom: 1px solid #aaaaaa;
    }

    h3 {
      font-size: 0.9rem;
      margin: 6px 0;
    }

    .preset {
      @extend .btn.normal;
    }

    .param {
      margin-bottom: 6px;
    }

    .select-container {
      width: 500px;
    }

    .number-box {
      width: 370px;
    }
  }
}

.player {
  padding: 12px 0 12px 40px;
  position: relative;
  // font-size: 0.9rem;

  &:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }

  .color {
    position: absolute;
    top: 12px;
    left: 0;
    width: 20px;
    height: 42px;
  }

  select {
    background-color: #efefef;
    height: 30px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
  }

  .audio-params {
    height: 30px;
    display: inline-block;
    margin-bottom: 12px;
  }

  .recording-control {
    height: 30px;

    span {
      display: inline-block;
      vertical-align: middle;
      width: 220px;
    }

    .btn {
      @extend .btn.normal;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
    }

  }
}
