
#player {
  // font-size: 1.4rem;

  #audio-control {
    position: absolute;
    top: 50px;
  }

  #recording-control {
    position: absolute;
    top: 150px;
  }
}

.project-chooser {
  &.expanded {
    .overlay {
      background-color: $backgroundColor;
    }
  }

  &.reduced {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;

    .btn {
      width: 140px;
    }
  }
}

.audio-control {
  padding: 0 20px;
  box-sizing: border-box;

  .checkbox {
    width : 120px;
  }
}
